<div class="form-group">
  <label for="nombre" class="col-md-3 col-lg-2 col-sm-6">id</label>
  <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="nombre" placeholder="ID "   [(ngModel)]="datos.id">
</div>

<div class="form-group">
    <label for="APEP" class="col-md-3 col-lg-2 col-sm-6">Nombre</label>
    <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="APEP" placeholder="Nombre"   [(ngModel)]="datos.nombre">
  </div>
  <div class="form-group">
      <label for="APEM" class="col-md-3 col-lg-2 col-sm-6">Usuario</label>
      <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="APEM" placeholder="Usuario"   [(ngModel)]="datos.usuario">
    </div>
    <div class="form-group">
      <label for="APEM" class="col-md-3 col-lg-2 col-sm-6">Correo</label>
      <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="APEM" placeholder="Correo"   [(ngModel)]="datos.correo">
    </div>
    <div class="form-group">
      <label for="APEP" class="col-md-3 col-lg-2 col-sm-6">Telefono</label>
      <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="APEP" placeholder="Telefono"   [(ngModel)]="datos.telefono">
    </div>
    <div class="form-group">
        <label for="APEM" class="col-md-3 col-lg-2 col-sm-6">direccion</label>
        <input type="text" class="col-lg-3 col-md-6 col-sm-6" id="APEM" placeholder="DIRECCION"   [(ngModel)]="datos.email">
      </div>
    



<button type="button" name="" id="" class="btn btn-primary btn-mg"(click)="submit()">Agregar</button><br><br>

